name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        webpack: ['5']
    name: CI
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - run: npm install
      - run: npm install webpack@${{ matrix.webpack }}
      - run: npm run lint
      - run: npm test
