name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
        webpack: ['5']
    name: Use Node.js ${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@f1f314fca9dfce2769ece7d933488f076716723e # v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm install webpack@${{ matrix.webpack }}
      - run: npm run lint
      - run: npm test
